@import 'variables';

footer {

  .footer {
    background-color: rgb(227, 227, 227);
    width: 100%;
    display: flex;
    align-items: top;

    section {
      padding: 1rem 2rem;
      width: 100%;
      vertical-align: top;

      h3 {
        color: rgb(59, 59, 59);
      }

      a {
        color: rgb(129, 129, 129);
        display: flex;
        align-items: center;
        white-space: nowrap;
        margin: 15px 0;
        text-decoration: none;
        transition: 0.5s;
      }

      a:hover {
        color: black;
      }

      p {
        letter-spacing: 0.08em;
        line-height: 1.8em;
        color: gray;
      }

      form {
        .subscribe-input {
          width: auto;
          flex: 1;
          border: 0.06em solid $input-border;
          font-size: 1em;
          font-weight: 500;
          padding: 0.5em;
          border-radius: 0.3em;
          transition: all 0.25s ease 0s;
          display: inline-block;
          color: $color-smooth;
        }

        .subscribe-input:focus {
          outline: none;
          border-color: $color;
          color: $color;
        }

        .subscribe-btn {
          background: #cd2121;
          border: none;
          font-size: 1em;
          font-weight: 600;
          padding: 0.5em;
          border-radius: 0.3em;
          transition: all 0.25s ease 0s;
          display: inline-block;
          color: white;
          cursor: pointer;
        }

        .subscribe-btn:hover,
        .subscribe-btn:focus {
          background: $btn-hover-bg;
        }
      }
    }
  }
  .sub-footer {
    background-color: #f0f0f0;
    text-align: end;
    color: rgb(21, 20, 20);
    padding: 1rem 0;

    i {
      margin-right: 3em;
    }
  }
}