.pricing{
    margin: auto;
    display: flex;
    width: 60%;

    .col {
        width: 20%;
        margin: 3em auto;

        .price-box {
            background: #fff;
            color: #555;
            list-style-type: none;
            border: 1px solid rgb(241, 241, 241);
            margin: 0;
            padding: 0;
            transition: 0.3s;

            .header {
                background-color: rgb(246, 246, 246);
                color: rgb(26, 26, 26);
                font-size: 25px;
            }

            li {
                padding: 20px;
                border-bottom: 1px solid #eee;
                text-align: center;
            }

            .emph {
                background-color: #111111;
                color: #eee;
                font-size: 20px;
            }

            .button {
                background-color: #d22929;
                border: none;
                color: #fff;
                padding: 10px 15px;
                text-align: center;
                text-decoration: none;
                font-size: 18px;
            }
        }

        .price-box:hover {
            box-shadow: 0 10px 15px 0 #000;
        }
    }
}