    $footer-bg:rgb(227, 227, 227);
    $h3-color: rgb(59, 59, 59);
    $color:#5e5e5e;
    $color-smooth:#9da2ae;
    $input-border:#999999;
    $btn-bg-color:#646464;
    $btn-hover-bg:#d5d9f6;
    $btn-color:#25272e; 