.carousel{
    display: flex;
    justify-content: center;

    .slider{
    
      .img{
        position: absolute;
        
      }
        .carousel-caption{
          margin-top: 40em;
            h3{
                font-size: 20px;
                font-family: 'Franklin Gothic Medium';
            }

            p{
                font-size: 48px;
                font-family: 'Franklin Gothic Medium';
            }
        }
      }
}